<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Insc-Conn</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">

    </head>
    <body>
      
        <div class ="header">
            <div class="containernav">
                <div class="navbar">
                    <div class="logo">
                        
                    </div>
                    <nav>
                        <ul id="MenuItems">
                            <li><a href="{{ url_for('acceuil') }}">Accueil</a></li>
                            <li><a href="{{ url_for('dashboardAgent') }}">Dashboard</a></li>
                            <li><a href="{{ url_for('connexion') }}">Se connecter</a></li>
                        </ul>                     
                    </nav>
                </div>

        </div>
        <div class="account-page">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="{{ url_for('static', filename='images/imgAcceuil.jpg') }}" alt="Image d'accueil">
                    </div>
                    <div class="col-2">
                        <div class="form-container">
                            <div class="form-btn">
                                <span>Se connecter</span>
                                <hr id="Indicator">
                            </div>
                            <form id="LoginForm">
                                <input type="email" placeholder="email" required>
                                <input type="password" placeholder="password" required>
                                <button type="submit" class="btn">Se connecter</button>
                                <a href="">Mot de passe oubié</a>
                            </form>
                                            
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
        
      

    </body>
</html>